html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background-color: #f2f3f8;
  box-sizing:content-box;
  overflow: hidden;
  margin: 0;
}

h1 {
  color: #3ac6d3;
}

.app {
  display: flex;
  position: relative;
}
